
<style>
    .navigation-clean-button {
      background: #fff;
      padding-top: .75rem;
      padding-bottom: .75rem;
      color: #333;
      border-radius: 0;
      box-shadow: none;
      border: none;
      margin-bottom: 0;
    }

    @media (min-width:768px) {
      .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }

    .navigation-clean-button .navbar-brand {
      font-weight: bold;
      color: inherit;
    }

    .navigation-clean-button .navbar-brand:hover {
      color: #222;
    }

    .navigation-clean-button .navbar-toggler {
      border-color: #ddd;
    }

    .navigation-clean-button .navbar-toggler:hover, .navigation-clean-button .navbar-toggler:focus {
      background: none;
    }

    .navigation-clean-button .navbar-toggler {
      color: #888;
    }

    .navigation-clean-button .navbar-collapse, .navigation-clean-button .form-inline {
      border-top-color: #ddd;
    }

    .navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
      background: none;
      box-shadow: none;
    }

    .navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
      color: #8f8f8f;
      box-shadow: none;
      background: none;
      pointer-events: none;
    }

    .navigation-clean-button.navbar .navbar-nav .nav-link {
      padding-left: 18px;
      padding-right: 18px;
    }

    .navigation-clean-button.navbar-light .navbar-nav .nav-link {
      color: #465765;
    }

    .navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
      color: #37434d !important;
      background-color: transparent;
    }

    .navigation-clean-button .navbar-nav > li > .dropdown-menu {
      margin-top: -5px;
      box-shadow: 0 4px 8px rgba(0,0,0,.1);
      background-color: #fff;
      border-radius: 2px;
    }

    .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item {
      line-height: 2;
      font-size: 14px;
      color: #37434d;
    }

    .navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
      background: #eee;
      color: inherit;
    }

    .navigation-clean-button .actions .login {
      margin-right: 1rem;
      text-decoration: none;
      color: #465765;
    }

    .navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
      background: #56c6c6;
      border-radius: 20px;
      font-size: inherit;
      color: #fff;
      box-shadow: none;
      border: none;
      text-shadow: none;
      padding: .5rem 1rem;
      transition: background-color 0.25s;
      font-size: inherit;
    }

    .navigation-clean-button .navbar-text .action-button:hover {
      background: #66d7d7;
    }

</style>


<div>
    <nav class="navbar navbar-light navigation-clean-button">
        <div class="container">
            <a class="navbar-brand">Website</a>
            <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">

            <!-- LEFT MENU -->
                <ul class="nav navbar-nav mr-auto">
                    <li role="presentation" class="nav-item">
                        <a class="nav-link" href="{% url "home" %}">Home</a>
                    </li>
                    {% if user.is_admin %}
                        <li role="presentation" class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    <form method="get">
                        <input class="form-control"  type="text" name="q" id="id_q" placeholder="Search...">
                    </form>
                </ul>
            <!-- END LEFT MENU -->

            <!-- SIGN IN MENU -->
                <span class="navbar-text actions">


                    {% if request.user.is_authenticated %}
                        <div class="dropdown nav-item">
                            <a class="btn btn-light action-button" role="button" data-toggle="dropdown" aria-expanded="false"
                               class="dropdown-toggle nav-link" href="#">Hello, {{ request.user.username }}</a>
                            <div role="menu" class="dropdown-menu">
                                <a role="presentation" class="dropdown-item" href="{% url 'account' %}">Account</a>
                                <a role="presentation" class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <a class="login" href="{% url 'login' %}">Login</a>
                        <a class="btn btn-light action-button" role="button" href="{% url 'register' %}">Sign Up</a>
                    {% endif %}
                </span>
            <!-- END SIGN IN MENU -->

            </div>
        </div>
    </nav>
</div>

<script type="text/javascript">
    document.getElementById("id_q").value = "{{ query }}"
</script>