{% extends 'base.html' %}

{% block title %}
    <title>This is registration</title>
{% endblock title %}

{%  block body %}
    <style>
        .login-box{
            background: #1d2124;
            border-radius: 10px;
        }
        .h2{
            color: white;
        }
    </style>


    <div class="col-md-4 offset-md-4 login-box">
        <br>
        <form method="post">
            {% csrf_token %} <!-- this is required for work properly
                                this is encryption token, that is like : its a security thing and
                                works like if you stay for too long on the form it will expire -->
            <h2 class="h2" style="text-align: center;">Register Form</h2>
            <div class="illustration">
                <i class="icon ion-ios-locked-outline"></i>
            </div>
            <div class="form-group">
                <input class="form-control" type="username" name="username" placeholder="username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password1" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password2" placeholder="Password">
            </div>

            {% for field in registration_form %}

                <!-- loop through any ptential errors  -->
                <!-- how does form knows if it  has errors => if we do a post request => it checks if the form is valid
                            if is not valid it still adds the form to the context and in that point if the form is not
                            valid it's gonna have errors -->
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Register</button>
            </div>
        </form>
        <br>
    </div>
{% endblock body %}